In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('banco_de_exercicios.db')
print(conn)

<sqlite3.Connection object at 0x7f52798ef3f0>

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("SELECT name from sqlite_master where type = 'table'")
cursor.fetchall()

[('dados_cadastrais',), ('dados_profissionais',)]

In [5]:
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),
 (3, 'Pedro', 'Pereira', 'Rua 8 - SP', 11111211786),
 (4, 'Paulo', 'Ribeiro', 'Rua 9 - SP', 1111121123),
 (1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),
 (3, 'Pedro', 'Pereira', 'Rua 8 - SP', 11111211786),
 (4, 'Paulo', 'Ribeiro', 'Rua 9 - SP', 1111121123),
 (1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),
 (3, 'Pedro', 'Pereira', 'Rua 8 - SP', 11111211786),
 (4, 'Paulo', 'Ribeiro', 'Rua 9 - SP', 1111121123)]

In [7]:
cursor.execute("SELECT * FROM dados_cadastrais where sobrenome == 'Silva'")
cursor.fetchall()

[(1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),
 (1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),
 (1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),
 (2, 'João', 'Silva', 'Rua 2 - SP', 11111211889)]