In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('Primeiro_banco_de_dados.db')

print(conn)

<sqlite3.Connection object at 0x7fe8174f0730>

In [4]:
cursor = conn.cursor

In [5]:
dados_profissionais = [('ID', 1, 'Graduação', 'Matematica', 'Cargo', 'professor', 'Salario', 3500.89,'Tempo', 3),
                      ('ID', 2, 'Graduação', 'Geografia', 'Cargo','orientador', 'Salario', 'Tempo', 2850.8, 1),
                      ('ID', 3, 'Graduação', 'Historia', 'Cargo','Orientador', 'Salario', 'Tempo', 3200.45, 1),
                      ('ID', 4, 'Graduação', 'Fisica', 'Cargo','Professor', 'Salario', 'Tempo', 1890.33, 2)]

In [ ]:
cursor.execute("CREATE TABLE dados_profissionais(Graduação text, Cargo text, Salario integer, Tempo integer)")

In [ ]:
cursor.execute("SELECT name from sqlite_master where type = 'table'")
cursor.fetchall()

[('dados_profissionais',)]

In [ ]:
cursor.execute("SELECT SUM(ID) FROM dados_profissionais")