In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('banco_de_exercicios.db')
print(conn)

<sqlite3.Connection object at 0x7f29f9d494e0>

In [5]:
cursor=conn.cursor()

In [16]:
cursor.execute("CREATE TABLE dados_cadastrais(user_id integer, nome text, sobrenome text, endereço text, cpf integer)")

OperationalError: table dados_cadastrais already exists

In [17]:
cursor.execute("CREATE TABLE dados_profissionais(user_id integer, graduação text, cargo text, salário integer, tempo_casa integer)")

OperationalError: table dados_profissionais already exists

In [20]:
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'Maria', 'Silva', 'Rua 1 - SP', 11111211313),(2, 'João', 'Silva', 'Rua 2 - SP', 11111211889),(3, 'Pedro', 'Pereira', 'Rua 8 - SP', 11111211786),(4, 'Paulo', 'Ribeiro', 'Rua 9 - SP', 1111121123)")
conn.commit()

In [21]:
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'Matematica', 'Professor', 3500.89, 3),(2, 'Geografia', 'Orientador', 2850.8, 1),(3, 'História','Orientador', 3200.45, 1),(4, 'Fisíca', 'Professor', 1890.33, 2)")
conn.commit()

In [22]:
print(dados_cadastrais)
print(dados_profissionais)

NameError: name 'dados_cadastrais' is not defined