In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('banco_de_exercicios.db')
print(conn)

<sqlite3.Connection object at 0x7fcb2dfa55d0>

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute("SELECT name from sqlite_master where type = 'table'")
cursor.fetchall()

[('dados_cadastrais',), ('dados_profissionais',)]

In [5]:
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'Matematica', 'Professor', 3500.89, 3),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1),
 (4, 'Fisíca', 'Professor', 1890.33, 2),
 (1, 'Matematica', 'Professor', 3500.89, 3),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1),
 (4, 'Fisíca', 'Professor', 1890.33, 2),
 (1, 'Matematica', 'Professor', 3500.89, 3),
 (2, 'Geografia', 'Orientador', 2850.8, 1),
 (3, 'História', 'Orientador', 3200.45, 1),
 (4, 'Fisíca', 'Professor', 1890.33, 2)]

In [7]:
cursor.execute("SELECT SUM(Salário) FROM dados_profissionais")
cursor.fetchall()

[(34327.41,)]