In [6]:
import sqlite3

In [ ]:
conn = sqlite3.connect('banco_de_dados_exercicios.db')
print(conn)

In [8]:
cursor = conn.cursor()

In [9]:
dados_profissionais = [('ID',1, 'Matéria', 'Matematica', 'Cargo', 'professor', 'Salario', 3500.89, 'Tempo', 3),
                      ('ID', 2, 'Geografia', 'orientador', 2850.8, 1),
                      ('ID', 3, 'Historia', 'Orientador', 3200.45, 1),
                      ('ID', 4, 'Fisica', 'Professor', 1890.33, 2)]

In [ ]:
cursor.execute('CREATE TABLE dados_profissionais (id integer, Matéria text, Cargo text, Salario integer, Tempo integer)')

In [11]:
cursor.execute("SELECT name from sqlite_master where type = 'table'")
cursor.fetchall()

[('dados_profissionais',)]

In [ ]:
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

In [ ]:
cursor.execute("SELECT SUM(Salario) FROM dados_profissionais")
cursor.fetchall()